* {
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {text-decoration: none;}

#container {
    width: 80%;
    margin: 0 auto;
}

header img {
    height: 70px;
    padding-right: 24px;
    border-right:1px solid  #ececec;
}

nav {
    margin: 32px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #9a9a9a;
    margin-right: 8px;
    text-transform: uppercase;
}

#content-up {
    height: 500px;
    background-color: #e1d67c;
    margin: 1% 0;
}

#content-below {
    background-color:#0186fe;
    margin-bottom: 16px;
}

.clearfix::after {
    content:"";
    clear: both;
    display: table;
}

.top {
    height: 100px;
    background-color: #abcfe7;
    margin-bottom: 1%;
}

.left, .center, .right {
    height: 400px;
    background-color: #abcfe7;
}

.left {
    float: left;
    width: 10%;
}

.center {
    float: left;
    width: 78%;
    margin: 0 1% 1%;
}

.right {
    float: right;
    width: 10%;
}

footer {
    height: 200px;
    background-color:#8b01fd;
}