* {
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {text-decoration: none;}

#container {
    width: 1200px;
    margin: 0 auto;
}

header img {
    height: 70px;
    padding-right: 24px;
    border-right:1px solid  #ececec;
}

nav {
    margin: 32px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #9a9a9a;
    margin-right: 8px;
    text-transform: uppercase;
}

.corner-radius {
    border-radius: 15px;
}

#content-up {
    position: relative;
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-position: center center;    
}

#layer {
    height: 500px;
    background-color:rgba(20, 1, 1, 0.2);
}

#cont-up-txt {
    position: absolute;
    bottom: 48px;
    width: 50%;
    padding:0 0 0 5%;
    z-index: 1;
}

#cont-up-txt h1, #cont-up-txt p {
    color: #ffffff;
    font-weight: 300;
} 

#content-below {
    height: auto;
    margin-bottom: 16px;
    background-color:red;
}

.clearfix::after {
    content:"";
    clear: both;
    display: table;
}

.top {
    background-color:#ffffff;
    padding: 40px 0;
}

.top h2 {
    font-size: 42px;
    font-weight: 800;
}

.top p {
    color: #a5a5a5;
}

.left, .center, .right {
    background-color: #abcfe7;
}

.img {
    height: 100px;
    margin-bottom: 16px;
    background-color:yellow;
}

.left {
    float: left;
    width: 20%;
}


.center {
    float: left;
    width: 58%;
    margin: 0 1% 1%;
}

.right {
    float: right;
    width: 20%;
}

footer {
    height: 200px;
    background-color:#8b01fd;
}