* {
    margin:0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

a {text-decoration: none;}

#container {
    width: 1200px;
    margin: 0 auto;
}

header img {
    height: 70px;
    padding-right: 24px;
    border-right:1px solid  #ececec;
}

nav {
    margin: 32px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #9a9a9a;
    margin-right: 8px;
    text-transform: uppercase;
}

.corner-radius {
    border-radius: 15px;
}

#content-up {
    position: relative;
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-position: center center;    
}

#layer {
    height: 500px;
    background-color:rgba(20, 1, 1, 0.2);
}

#cont-up-txt {
    position: absolute;
    bottom: 48px;
    width: 50%;
    padding:0 0 0 5%;
    z-index: 1;
}

#cont-up-txt h1, #cont-up-txt p {
    color: #ffffff;
    font-weight: 300;
} 

#content-below {
    height: auto;
    margin-bottom: 16px;
}

#content-below h3 {
    line-height: 32px;
}

#content-below h3, #content-below p {
    color: #a5a5a5;
}

.clearfix::after {
    content:"";
    clear: both;
    display: table;
}

.top {
    background-color:#ffffff;
    padding: 40px 0;
}

.top h2 {
    font-size: 42px;
    font-weight: 800;
}

.top p {
    color: #a5a5a5;
}

.left, .center, .right {
    position: relative;
}

.img {
    height: 200px;
    border-radius: 15px;    
    margin-bottom: 16px;
    background-color:yellow;
}

.left {
    float: left;
    width: 20%;
}

.layer_box {
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(20, 1, 1, 0.2);
    width: 240px;
    height: 200px;
}

.sx {
    background-image: url(../img/img-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 250px;
}

.center {
    float: left;
    width: 58%;
    margin: 0 1% 1%;
}

.layer_box_center {
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(20, 1, 1, 0.2);
    width: 696px;
    height: 200px;
}

.cent {
    background-image: url(../img/banner-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 700px;
}

.right {
    float: right;
    width: 20%;
}

.dx {
    background-image: url(../img/img-3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 350px;
}

footer p {
    text-align: center;
    padding: 32px;
}

.icon {
    padding: 4px;
    color: red;
    box-sizing: border-box;
}